*{
    
    padding: 0px;
    margin: 0px;

}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(183, 238, 32, 0.959);
}




header ul{
    list-style: none;
    display: flex;
}

header ul li{

    padding: 20px;
    margin: 20px;


}

.me {
    margin-left: 40px;

     
}
#you {
    display: flex;
    justify-content: space-between;

}
.they{

    padding: 10px 20px;
    margin-top: 100px;
    margin-left: 110px;
}

.they h1 span {
    color: #da1212;
}

.they h4 {
 
    margin-top: 20px;
    margin-left: 30PX;
    text-align: justify;
}
 .we {

    margin-top: 33px;
 }

 .d {

    padding: 30px;

 }

 .ow div a {
width: 12px;
width: 12px;
}
#om {
    color: azure;
}

.ow{
    margin-right: 900px;
}
.ow img {
    width: 30px;
    height: 30px;
    border-radius: 500Px;
    

}
footer{
    display: flex;
    justify-content: center;
}